@font-face
{
	font-family: marspolice;
	src: url('marspolice_i.ttf');
}
@font-face
{
	font-family: orkney;
	src: url('OrkneyRegular.ttf');
}
body
{
    margin: 0px 0px 0px 0px;
}
body#login
{
	background-image: url("intrabckgrd.jpg");
    height: 100%;
    width: 99%;
}
body#profile
{
	background-color: #313131;
	margin: 0px;
}
ul
{
	position: fixed;
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 140px;
    height: 100%;
    background-color: #0f0f0f;
    border: 2px solid #313131;
    z-index: 99;
}

li 
{
    text-align: center;
    border-bottom: 1px solid #313131;
    border-right: none;
}

li a 
{
    font-family: orkney;
    display: block;
    color: #ffffff;
    height: 50px;
    padding: 50px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #0167b1;
    color: white;
}

li a:hover:not(.active) {
    background-color: #313131;
    color: white;
}

.headBox
{
	border-bottom: 5px solid #0167b1;
    height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
    border-radius: 0%;
    background-color: white;
}
.searchBox
{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.userInfo
{
    font-family: orkney;
    margin-top:0px;
}
.profpicbox
{
    height:190px;
    width:190px;
    float:left;
    margin-top:40px;
    margin-left:220px;
    background-color: #0167b1;
}
h1#user
{
    display:inline-block;
    margin-top:40px;
    margin-bottom: 0px;
    margin-left:20px;
    text-decoration: underline;
}
h4#phoneNum
{
    display:block;
    margin-left: 430px;
    margin-top:20px;
}

h4#jobTitle
{
    display:inline-block;
    margin-left: 20px;
    margin-top:0px;
}
h2#appBoxHead
{
    font-family: orkney;
    margin-left: 3%;
}
div.appBox
{
    background-color: white;
    border-style: solid;
    border: 2px 2px 2px 2px;
    border-color: #0167b1;
    height: 300px;
    width: 50%;
    margin-left: 160px;
    margin-top:15px;
}

.hvr-rectangle-out {
    font-family: orkney;
    height: 60%;
    width: 22%;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: white;
    border: 5px solid #0167b1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    margin-top: 15px;
    margin-left: 7%;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    vertical-align: middle;
}
.hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0167b1;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.darkBox
{
	border: 1px solid #0167b1;
    height: 400px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top:200px;
    border-radius: 2%;
    -webkit-box-shadow: 8px 8px 15px 3px #000000;
    background: #0f0f0f;
}

.loginHead
{
	font-family: marspolice;
	color: #0167b1;
	font-size: 50px;
	margin-top: 50px; 
	margin-bottom: 70px;
	text-align: center;
}

input[type="username"], input[type="password"]
{
	outline:none;
	padding:10px;
	display:block;
	width:300px;
	border-radius:3px;
	border:1px solid #eee;
	margin: 20px auto;

}

.subLogin
{
	margin-bottom: 0px;
	padding:10px;
	color: #fff;
	background:#0167b1;
	width: 320px;
	display: block;
	margin-top:50px;
	margin-left: auto;
	margin-right: auto;
	border:0px;
	border-radius: 3px;
	cursor:pointer;
}

.subLogin: hover
{
	background: #0280DC;
}

h3#navTitle
{
	text-decoration: underline;
	margin-left: 20px;
}

.modalDialog 
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 80ms ease-in;
    -moz-transition: opacity 80ms ease-in;
    transition: opacity 80ms ease-in;
    pointer-events: none;
}

.modalDialog:target 
{
    opacity:1;
    pointer-events: auto;
}

.modalDialog 
{
    width: 40%;
    height: 40%;
    float: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    border-radius: 10px;
    background: #fff;
    border: 3px solid #0167b1;
    -webkit-transition: opacity 80ms ease-in;
    -moz-transition: opacity 80ms ease-in;
    transition: opacity 80ms ease-in;
}

.close 
{
    background: #0167b1;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 4px;
    text-align: center;
    top: 3px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.close:hover { background: #00b8eb; }

.insideModal
{
	margin-left: 80px;
	margin-right: auto;
}

input#file
{
	margin-left: auto;
	margin-right: auto;
}

body#tutorials
{
    background-color: #313131;
    margin: 0px;
}
h1#tuttitle
{
    font-family: orkney;
    margin-left: 15%;
    margin-top:4%;
    font-size: 36px;
    display:inline-block
}
body#employees
{
    background-color: #313131;
    margin: 0px;
}
h1#empDirectory
{
    font-family: orkney;
    margin-left: 15%;
    margin-top:4%;
    font-size: 36px;
    display:inline-block
}

body#mapBody
{
    background-color: #313131;
    margin: 0px;
}
h1#offMap
{
    font-family: orkney;
    margin-left: 15%;
    margin-top:4%;
    font-size: 36px;
    display:inline-block
}
